
.comment-list {
    list-style-type: decimal-leading-zero;
    color: grey;
}

.comment-votes-number {
    float: left;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: -15px;
    border: lightblue 3px solid;
    color: black
}
.comment-votes-number p{
    padding: 0px;
    margin: 0px;
}

.comment-box {
    background-color: grey;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    height: auto;
    width: 100%;
    min-height: 120px;
}

.comment-author-details{
    background-color: lightblue;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
}

.comment-body {
    padding-left: 150px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: black;
}

.user-avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border: lightblue 3px solid;
    
}

.comment-arrows{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.add-comment-field {
    width: 90%;
    height: 50px;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 10px;
}

.add-comment-field:focus{
    height: 150px;
}

.comment-button {
    background-color: lightblue;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.comment-button:hover {
    background-color: white;
}

.delete-button {
    color: gray;
    float: right;
    padding-right: 20px;
    cursor: pointer;
}

.delete-button:hover {
    color: white;
}

.comment-creator-link {
    text-decoration: none;
    color: black;
}

.comment-creator-link:hover {
    text-decoration: none;
    color: white;
}