
.topic-button {
    display: inline-block;
    padding: 20px;
    font-size: 32px;
    background-color: grey;
    margin-left: 5px;
    margin-right: 5px;
}

.topic-button:hover {
    background-color: whitesmoke;
}